@import '../../variables.scss';
@import '../cart/cart.scss';

.cart-wrapper:hover  .cart-container {
    display: block;
 }

.navbar-container{
    display: grid;
    grid-template-columns: 3% 17% 10% 10% 10% 10% 20% 3% 3%;
    height: 10em;
    
}

.navbar-container > a, .navbar-container > .cart-wrapper {
    margin-top: 4em;
    text-decoration: none; 
    color: $white;
    text-align: center;
    font-size: 1.25em;
}

a > i {
    margin-top: 0.5em;
    color: $white;
}


.logo-area {
    display: grid;
    background-size: 70%;
    margin-top: 15%;
    background-repeat: no-repeat;
    background-image: url("/assets/images/home/logo-456x174.png");
    cursor: pointer;
}

a:hover{
    cursor: pointer;
}

@media (max-width: 800px) {
    .navbar-container {font-size: 0.8em; }
  }

  .fa .fas{
    font-size: 20em;
  }