@import '../../variables.scss';
@import '../cart/cart.scss';

.cart-wrapper:hover  .cart-container {
    display: block;
 }
 


.navbar-container{
    display: grid;
    grid-template-columns: 3% 17% 10% 10% 10% 10% 20% 3% 3%;
    height: 8em;
}

.navbar-container > a, .navbar-container > .cart-wrapper {
    margin-top: 4em;
    text-decoration: none; 
    color: $white;
    text-align: center;
    font-size: 15px;
}

a > i {
    margin-top: 0.5em;
    color: $white;
}


.logo-area {
    display: grid;
    margin-right: 15% ;
    margin-top: 10%;
    background-size: 80%;
    background-repeat: no-repeat;
    background-image: url("/assets/images/home/logo-456x174.png");
    cursor: pointer;
}
