@import 'variables.scss';

*{
    color: $black;
    font-family: $font, sans-serif;
}


body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.wrapper {
    display: flex;
    grid-gap: 2.6em;
    overflow: hidden;
    width: 60em;
    
    & > .bubble-tea-products, .new-arrivals-products {
      display: flex;
      grid-gap: 2.6em;
      transition: all 1s ease-in-out;
      height:85%;
    }
  }