// Color scheme
$dark-brown: #D87D4A;
$light-orange: #fbcdb4;
$light-salmon: #fee8dc;
$light-black: #101010;
$white: #FFFFFF;
$ligh-grey: #eeeeee; 
$black: #000000;
$verydarkgrey: #8A8989;
$darkgrey: #585858;




//Font scheme
$font: "Poppins";

//Layout scheme
 