// Color scheme
$dark-brown: #D87D4A;
$light-orange: #fbcdb4;
$light-salmon: #fee8dc;
$light-black: #101010;
$white: #FFFFFF;
$light-grey: #f1f5f8; 
$black: #000000;
$verydark-grey: #8A8989;
$dark-grey: #d1d1d1;
$yellow:#F1C617;





//Font scheme
$font: "Manrope";

//Layout scheme
 