@import '../variables.scss';
@import '../base.scss';
@import './carousel/carousel.scss';
@import './categories/category.scss';
@import './footer/footer.scss';
@import './cart/cart.scss';

.grid-container{
    display: grid;
    grid-template-areas: 
    'navbar-area'
    'carousel-area'
    'categories-area'
    'footer-area';

    grid-template-rows: 30% 45% 35% 20%;
    min-height: 100vh
}

.logo-area {
    display: grid;
    margin-right: 5em ;
    margin-top: 2em;
    background-size: 80%;
    background-repeat: no-repeat;
    background-image: url("/assets/images/home/logo-456x174.png");
    cursor: pointer;
    height: 30em;

}

 //buy button banner
.buy-button-container{
    display: grid;
    grid-template-rows: 50% 50%;
}

    .buy-button > button{
        border-radius: 6px;
        font-family: $font, sans-serif;
        box-shadow: 1px 2px 10px $yellow;
        font-size: 170%;
        width: 6em;
        min-height: 2em;
}
//

.navbar-area{
    background-image: linear-gradient(rgba(13, 12, 12, 0.495), rgba(80, 80, 80, 0.591)), url("/assets/images/home/home-banner-1600x680.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar-container{
    display: grid;
    grid-area: navbar-area;
    grid-template-columns: 3% 17% 10% 10% 10% 10% 25% 3% 3%;
    border-radius: 6px;
}

.navbar-container > a, .navbar-container > .cart-wrapper {
    margin-top: 4em;
    text-decoration: none; 
    color: $white;
    text-align: center;
    font-size: 15px;
}

a > i {
    margin-top: 0.5em;
    color: $white;}

//pop-up cart
     
//pop-up cart

//carousel area
.carousel-area{
    background-color: $light-grey;
    grid-area: carousel-area;
}

.categories-area{
    background-color: $light-grey;
    grid-area: categories-area;
}

.footer-area{
    grid-area: footer-area;
}

.cart-container{
    position: absolute;
    z-index: 1;
    display: none;
    margin-left: -5%

}

.cart-wrapper:hover .cart-container {
    display: block;

 }

 .products-number{
    position: absolute;
    z-index: 1;
 }

 .buy-button-container{
    margin-left: 20%;
 }