@import '../variables.scss';
@import '../base.scss';
@import './carousel/carousel.scss';
@import './categories/category.scss';

.grid-container{
    display: grid;
    grid-template-areas: 
    'navbar-area'
    'carusel-area'
    'categories-area'
    'footer-area';

    grid-template-rows: 70% 60% 50% 20%;
    min-height: 100vh
}

.logo-area {
    width: 100px;
    height: 100px;
    background-image: url("/assets/images/LogoTealicious1.png");
}

.navbar-area{
    display: grid;
    grid-area: navbar-area;
    grid-template-columns: 20% 20% 20% 20% 20% ;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("/assets/images/Background21.jpg");
    background-size: cover;
}

.navbar-area > a {
    font-size: 30px;
    text-decoration: none; 
     color: $white;
}

.carousel-area{
    grid-area: carusel-area;
}

.categories-area{
    grid-area: categories-area;
}

.footer-area{
    grid-area: footer-area;
    background-color: purple;
}
