* {
  color: #000000;
  font-family: "Manrope", sans-serif;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

* {
  color: #000000;
  font-family: "Manrope", sans-serif;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.card {
  padding: 0.3em;
  display: grid;
  max-height: 25em;
  min-height: 20em;
  grid-template-rows: 75% 25%;
  border-radius: 1em;
  box-shadow: 0.5px 3px 15px #d1d1d1;
  cursor: pointer;
  background-color: #FFFFFF;
}
.card > img {
  border-radius: inherit;
}
.card > .content {
  display: grid;
  background: #FFFFFF;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  text-align: center;
}

img {
  content: url("/assets/images/categorypage/greenapple.jpg");
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 99%;
}

.title-container {
  padding-top: 1.5em;
  display: grid;
  grid-template-columns: 60% 25%;
}

.title {
  font-weight: 600;
  padding-left: 1em;
  text-align: left;
  font-size: larger;
}

.price {
  font-weight: 700;
  font-size: x-large;
  text-align: right;
  color: #8A8989;
}

.description {
  color: #8A8989;
  padding-left: 1em;
  text-align: left;
  font-size: small;
}

.sticky-labels {
  position: absolute;
  height: 2em;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: -1.25em;
  margin-left: 0.5em;
  display: grid;
  grid-template-columns: 5em 5em;
  grid-gap: 0.25em;
}

.label-ceai-negru {
  content: url("/assets/images/categorypage/ceai-negru-label.png");
  -o-object-fit: cover;
     object-fit: cover;
  width: 90%;
}

.label-ceai-verde {
  content: url("/assets/images/categorypage/ceai-verde-label.png");
  -o-object-fit: cover;
     object-fit: cover;
  width: 90%;
}

.center {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: -moz-fit-content;
  height: fit-content;
}

.card > img {
  display: block;
  width: 17.5em;
}

.sticky-labels {
  display: none;
}

.map > button {
  all: unset;
  background: #F1C617;
  cursor: pointer;
  margin: 0 0.125em;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-radius: 100%;
  height: 1em;
  width: 1em;
}
.map > button.active:after {
  content: "";
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  border-radius: 100%;
  height: 0.4em;
  width: 0.4em;
}

.bar-container {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  height: 100%;
  text-align: center;
  padding-bottom: 6%;
}

.bar-container > div {
  border-radius: 6px;
  font-family: "Manrope", sans-serif;
  box-shadow: 0.5px 1px 5px #d1d1d1;
  box-shadow: inset 0.5px 3px 10px #d1d1d1;
  font-size: 140%;
  min-height: 2em;
  padding-top: 0.5em;
}

.bar-container > div:hover {
  background-color: #d1d1d1;
}

.focus {
  background-color: #F1C617;
}

.display-none {
  display: none !important;
}

.bubble-tea-products {
  height: 28em;
  width: 70em;
}

.wrapper-carousel {
  display: flex;
  grid-gap: 2.6em;
  overflow: hidden;
  width: 61em;
}
.wrapper-carousel > .bubble-tea-products, .wrapper-carousel .new-arrivals-products {
  display: flex;
  grid-gap: 2.6em;
  transition: all 1s ease-in-out;
}

.center {
  height: 60%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.category-title {
  text-align: center;
  font-size: 150%;
  margin-bottom: 2%;
}

.category-title:hover {
  transform: scale(1.3);
  transition: all 1s ease-in-out;
}

.category-card {
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 1em;
  box-shadow: 0.5px 1px 5px #d1d1d1;
  cursor: pointer;
}
.category-card > img {
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
  display: block;
  width: 17.5em;
  height: -moz-fit-content;
  height: fit-content;
}
.category-card > .category-content {
  background: #FFFFFF;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  padding: 1em;
  text-align: center;
}
.category-card > .category-content > h1 {
  margin: 0.35em 0;
}
.category-card > .category-content > h1 {
  color: #000000;
  font-size: 1.25rem;
  line-height: 1;
}

.img-bubble-tea {
  content: url("/assets/images/home/bubbleTea.jpg");
}

.img-matcha-latte {
  content: url("/assets/images/home/MatchaLatte_1.jpg");
}

.img-waffles {
  content: url("/assets/images/home/waffles.jpg");
}

.category-wrapper {
  display: flex;
  grid-gap: 2.6em;
  overflow: hidden;
  width: 60em;
}
.category-wrapper > .bubble-tea-products, .category-wrapper .new-arrivals-products {
  display: flex;
  grid-gap: 2.6em;
  transition: all 1s ease-in-out;
}

ul > li, p {
  color: #FFFFFF;
}

li > i {
  color: #FFFFFF;
}

.logo-footer {
  background-image: url("/assets/images/home/logo-456x174.png");
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: 50%;
}

.footer {
  background-image: linear-gradient(rgba(13, 12, 12, 0.495), rgba(43, 43, 43, 0.799)), url("/assets/images/Background-home-page.jpg");
  background-size: cover;
  text-align: center;
}
.footer footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer nav {
  margin: 30px 0;
}
.footer nav ul {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin-top: 6%;
  justify-content: center;
}
.footer .social {
  width: 100%;
}
.footer .social ul {
  margin: 0 auto;
  width: 140px;
  display: flex;
  justify-content: space-between;
}

.cart-container {
  background: linear-gradient(to bottom right, #f1f5f8);
  display: grid;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #FFFFFF;
  border-radius: 10px;
  width: 16.5em;
}

.cart-header {
  display: flex;
  margin: auto;
  width: 85%;
  justify-content: space-between;
  align-items: center;
}

.cart-heading {
  font-size: 14px;
  font-weight: 500;
}

.cart-items {
  display: grid;
  height: -moz-fit-content;
  height: fit-content;
}

.cart-item {
  display: grid;
  grid-template-columns: 25% 25% 15% 35%;
  padding: 0.4em;
}

.cart-img {
  width: 3.5em;
  height: 3.5em;
  border-radius: 8px;
  padding-left: 2%;
  content: url("/assets/images/categorypage/greenapple.jpg");
}

.horizontal-line {
  background-color: #f1f5f8;
  height: 0.2px;
  width: 100%;
}

.first-line, .last-line {
  background-color: #d1d1d1;
}

span {
  cursor: pointer;
}

.minus, .plus {
  height: 2em;
  width: 2em;
  background: #f1f5f8;
  border-radius: 8px;
  border: 4px solid #f1f5f8;
  text-align: center;
}

input {
  height: 17px;
  width: 15px;
  text-align: center;
  font-size: 15px;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  vertical-align: middle;
}

.cart-total {
  display: grid;
  grid-template-columns: 50% 50%;
}

.cart-total > .heading {
  text-align: center;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-margin-before: 0.5em;
          margin-block-start: 0.5em;
  -webkit-margin-after: 0.5em;
          margin-block-end: 0.5em;
}

.checkout-link:hover {
  color: #F1C617;
}

.checkout-link {
  text-decoration: none;
  color: #000000;
}

.fa-angle-right {
  color: #F1C617;
  padding-left: 0.5em;
}

.badge:after {
  content: attr(value);
  font-size: 12px;
  color: #000000;
  background: #F1C617;
  border-radius: 50%;
  padding: 0 5px;
  position: relative;
  left: -8px;
  top: -10px;
  opacity: 1;
}

.grid-container {
  display: grid;
  grid-template-areas: "navbar-area" "carousel-area" "categories-area" "footer-area";
  grid-template-rows: 30% 45% 35% 20%;
  min-height: 100vh;
}

.logo-area {
  display: grid;
  margin-right: 5em;
  margin-top: 2em;
  background-size: 80%;
  background-repeat: no-repeat;
  background-image: url("/assets/images/home/logo-456x174.png");
  cursor: pointer;
  height: 30em;
}

.buy-button-container {
  display: grid;
  grid-template-rows: 50% 50%;
}

.buy-button > button {
  border-radius: 6px;
  font-family: "Manrope", sans-serif;
  box-shadow: 1px 2px 10px #F1C617;
  font-size: 170%;
  width: 6em;
  min-height: 2em;
}

.navbar-area {
  background-image: linear-gradient(rgba(13, 12, 12, 0.495), rgba(80, 80, 80, 0.591)), url("/assets/images/home/home-banner-1600x680.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar-container {
  display: grid;
  grid-area: navbar-area;
  grid-template-columns: 3% 17% 10% 10% 10% 10% 25% 3% 3%;
  border-radius: 6px;
}

.navbar-container > a, .navbar-container > .cart-wrapper {
  margin-top: 4em;
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
}

a > i {
  margin-top: 0.5em;
  color: #FFFFFF;
}

.carousel-area {
  background-color: #f1f5f8;
  grid-area: carousel-area;
}

.categories-area {
  background-color: #f1f5f8;
  grid-area: categories-area;
}

.footer-area {
  grid-area: footer-area;
}

.cart-container {
  position: absolute;
  z-index: 1;
  display: none;
  margin-left: -5%;
}

.cart-wrapper:hover .cart-container {
  display: block;
}

.products-number {
  position: absolute;
  z-index: 1;
}

.buy-button-container {
  margin-left: 20%;
}/*# sourceMappingURL=home.css.map */