@import '../variables.scss';

* {box-sizing: border-box;}

body{
    $font: "Manrope";
    font-size: 17px;
    padding: 8px;
    background-color: $light-grey;

}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid $dark-grey;
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  border-radius: 8px;
}

input[type=tel]{
  width: 100%;
  padding: 12px;
  border: 1px solid $dark-grey;
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: $yellow;
  color: $white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  font-weight: 700;
  font-size: 17px;
}

input[type=submit]:hover {
  background-color: $dark-grey;
}

.container {
  border: 1px solid #d1d1d1;
  background-color: $white;
  border-radius: 8px;
  padding: 20px;

}

@media (max-width: 800px) {
  .container {
    flex-direction:row;
  }
}