@import '../../variables.scss';

@mixin circle($i) {
    border-radius: 100%;
    height: $i;
    width: $i;
  }
  
  .center {
    height: 60%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  
  .card {
    border-radius: 3em;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  
    & > img {
      border-top-right-radius: inherit;
      border-top-left-radius: inherit;
      display: block;
      width: 17.5em;
    
    }
  
    & > .content {
      background-color: $white;
      border-bottom-left-radius: inherit;
      border-bottom-right-radius: inherit;
      padding: 1em;
      text-align: center;
  
      & > h1,
      & > h3 {
        margin: 0.35em 0;
      }
  
      & > h1 {
        color:black;
        font-size: 1.25rem;
        line-height: 1;
      }
  
      & > h3 {
        color: black;
        font-size: 0.9rem;
        font-weight: 300;
      }
    }
  }
  
  .map {
    margin-top: 1em;
    & > button {
      all: unset;
      background: $yellow;
      cursor: pointer;
      margin: 0 0.125em;
      position: relative;
      user-select: none;
      @include circle(1em);
  
      &.active {
        &:after {
          content: "";
          left: 50%;
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          @include circle(0.4em);
        }
      }
    }
  }
  
.bar-container {
display: grid;
grid-template-columns: 33.33% 33.33% 33.33% ;
height: 100%;
text-align: center;
padding-bottom: 6%;
}

.bar-container > div {
border-radius: 6px;
font-family: $font, sans-serif;
box-shadow: 0.5px 1px 5px $dark-grey;
font-size: 140%;
min-height: 2em;
padding-top: 0.5em;
}

.bar-container > div:hover{
  background-color: $dark-grey;
}

.focus{
  background-color: $yellow;
}

.display-none{
  display: none !important;
}