* {
  color: #000000;
  font-family: "Manrope", sans-serif;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.card {
  padding: 0.3em;
  display: grid;
  max-height: 25em;
  min-height: 20em;
  grid-template-rows: 75% 25%;
  border-radius: 1em;
  box-shadow: 0.5px 3px 15px #d1d1d1;
  cursor: pointer;
  background-color: #FFFFFF;
}
.card > img {
  border-radius: inherit;
}
.card > .content {
  display: grid;
  background: #FFFFFF;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  text-align: center;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 99%;
}

.title-container {
  padding-top: 1.5em;
  display: grid;
  grid-template-columns: 60% 25%;
}

.title {
  font-weight: 600;
  padding-left: 1em;
  text-align: left;
  font-size: larger;
}

.price {
  font-weight: 700;
  font-size: x-large;
  text-align: right;
  color: #8A8989;
}

.description {
  color: #8A8989;
  padding-left: 1em;
  text-align: left;
  font-size: small;
}

.sticky-labels {
  position: absolute;
  height: 2em;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: -1.25em;
  margin-left: 0.5em;
  display: grid;
  grid-template-columns: 5em 5em;
  grid-gap: 0.25em;
}

.label-ceai-negru {
  content: url("/assets/images/categorypage/ceai-negru-label.png");
  -o-object-fit: cover;
     object-fit: cover;
  width: 90%;
}

.label-ceai-verde {
  content: url("/assets/images/categorypage/ceai-verde-label.png");
  -o-object-fit: cover;
     object-fit: cover;
  width: 90%;
}

.center {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: -moz-fit-content;
  height: fit-content;
}

.card > img {
  display: block;
  width: 17.5em;
}

.sticky-labels {
  display: none;
}

.map > button {
  all: unset;
  background: #F1C617;
  cursor: pointer;
  margin: 0 0.125em;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-radius: 100%;
  height: 1em;
  width: 1em;
}
.map > button.active:after {
  content: "";
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  border-radius: 100%;
  height: 0.4em;
  width: 0.4em;
}

.bar-container {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  height: 100%;
  text-align: center;
  padding-bottom: 6%;
}

.bar-container > div {
  border-radius: 6px;
  font-family: "Manrope", sans-serif;
  box-shadow: 0.5px 1px 5px #d1d1d1;
  box-shadow: inset 0.5px 3px 10px #d1d1d1;
  font-size: 140%;
  min-height: 2em;
  padding-top: 0.5em;
}

.bar-container > div:hover {
  background-color: #d1d1d1;
}

.focus {
  background-color: #F1C617;
}

.display-none {
  display: none !important;
}

.bubble-tea-products {
  height: 28em;
  width: 70em;
}

.wrapper-carousel {
  display: flex;
  grid-gap: 2.6em;
  overflow: hidden;
  width: 61em;
}
.wrapper-carousel > .bubble-tea-products, .wrapper-carousel .new-arrivals-products {
  display: flex;
  grid-gap: 2.6em;
  transition: all 1s ease-in-out;
}/*# sourceMappingURL=carousel.css.map */