@import '../../variables.scss';
@import '../../shared/card/card.scss';

@mixin circle($i) {
    border-radius: 100%;
    height: $i;
    width: $i;
  }
  
  .center {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
  }

  .card {
    & > img {
      display: block;
      width: 17.5em;
    }
  }

  .sticky-labels
  {
    display: none;
  }
  
  .map {
    & > button {
      all: unset;
      background: $yellow;
      cursor: pointer;
      margin: 0 0.125em;
      position: relative;
      user-select: none;
      @include circle(1em);
  
      &.active {
        &:after {
          content: "";
          left: 50%;
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          @include circle(0.4em);
        }
      }
    }
  }
  
.bar-container {
display: grid;
grid-template-columns: 33.33% 33.33% 33.33% ;
height: 100%;
text-align: center;
padding-bottom: 6%;
}

.bar-container > div {
border-radius: 6px;
font-family: $font, sans-serif;
box-shadow: 0.5px 1px 5px $dark-grey;
box-shadow: inset 0.5px 3px 10px $dark-grey;
font-size: 140%;
min-height: 2em;
padding-top: 0.5em;
}

.bar-container > div:hover{
  background-color: $dark-grey;
}

.focus{
  background-color: $yellow;
}

.display-none{
  display: none !important;
}

.bubble-tea-products{
  height: 28em;
  width: 70em;
}

.wrapper-carousel{
  display: flex;
  grid-gap: 2.6em;
  overflow: hidden;
  width: 61em;
  
  & > .bubble-tea-products, .new-arrivals-products {
    display: flex;
    grid-gap: 2.6em;
    transition: all 1s ease-in-out;
  }
}