@import '../../variables.scss';

 ul > li {
  color:$white;
 }

.footer{
  background-image: linear-gradient(rgba(13, 12, 12, 0.495), rgba(43, 43, 43, 0.799)), url("/assets/images/Background-home-page.jpg");
  background-size: cover;
  margin-top: $lgSpacing;
  padding: $xlSpacing 0;
  color: $white;
  text-align: center;

  footer{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  ul {
      list-style: none;
      padding: 0;
      margin: 0;
  }

  nav{
      margin: $mdSpacing 0;
      ul{
          display: flex;
          flex-direction: column;
          gap: $baseSpacing;
      }
  }

  .social{
     width: 100%;
      ul {
          margin: 0 auto;
          width: 140px;
          display: flex;
          justify-content: space-between;
      }
  }
}