@import '../../variables.scss';
@import '../../base.scss';

.card {
    padding: 0.3em;
    display: grid;
    max-height: 25em;
    min-height: 21em;
    grid-template-rows: 70% 30%;
    border-radius: 1em;
    box-shadow: 0.5px 3px 15px $dark-grey;
    cursor: pointer; 
    background-color: $white;
    & > img {
      border-radius: inherit;
    }
  
    & > .content {
      display: grid;
      background: $white;
      text-align: center;
    }
  }

img{
    object-fit: cover;
    width: 100%;
    height: 99%;
}
  
.title-container{
  padding-top: 1.2em;
  display: grid;
  grid-template-columns: 65% 18%;
}

.title{
  font-weight: 300;
  padding-left: 1em;
  text-align: left;
  font-size: large;
}

.price{
  font-weight: 300;
  font-size: large;
  text-align: right;
  color: $verydark-grey;
}

.description{
  color: $verydark-grey;
  padding-left: 1em;
  text-align: left;
  font-size: small;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sticky-labels{
  position: absolute;
  height: 2em;
  width: fit-content;
  margin-top: -1.25em;
  margin-left: 0.5em;
  display: grid;
  grid-template-columns: 5em 5em;
  grid-gap: 0.25em;
}

.label-ceai-negru{
  content: url("/assets/images/categorypage/ceai-negru-label.png");
    object-fit: cover;
    width: 90%;
}

.label-ceai-verde{
  content: url("/assets/images/categorypage/ceai-verde-label.png");
    object-fit: cover;
    width: 90%;
}