@import '../../variables.scss';


.cart-container{
    position: absolute;
    z-index: 1;
    display: none;
    margin-left: -8%;
    background: $dark-grey;
    height: fit-content;
    background-color: $white;
    border-radius: 10px;
    width: 21em;
}


 .products-number{
    position: absolute;
    z-index: 1;
 }

.cart-header{
    display: flex;
    margin: auto;
    width: 85%;
    justify-content: space-between;
    align-items: center;
}

.cart-heading{
    font-size: 1.5em;
    font-weight: 500;
}

.cart-items {
    display: grid;
    height: fit-content;
}

.cart-item{
    display: grid;
    grid-template-columns: 20% 40% 15% 25%;
    padding: 0.4em;
    
    & img {
        width: 3.5em;
        height: 3.5em;
        border-radius: 8px;
        padding-left: 2%;
    }
}


//line beetwen products
.horizontal-line{
    background-color: $dark-grey;
    height: 0.2px;
    width: 100%;
}
.first-line , .last-line{
background-color: $dark-grey;
}

span {
    cursor:pointer;
}

.number input{
    height: 2em;
    width: 1.2em;
    font-size: 15px;
    border:1px solid $dark-grey;
    border-radius: 50px;
    text-align: center;
   
}

//checkout cart section
.cart-total{
    display: grid;
    grid-template-columns: 50% 50%;

}

            .cart-total > .heading {
                text-align: center;
                height: fit-content;
                margin-block-start: .5em;
                margin-block-end: .5em;
            }

            .checkout-link:hover{
              color: $yellow;
            }

            .checkout-link{
                text-decoration: none;
                color: $black;
                
            }

           .fa-angle-right {
            color: $yellow;
            padding-left: .4em;

           }

// number of items in the cart

.badge:after{
    content:attr(value);
    font-size: 14px;
    color: $black;
    background: $yellow;
    border-radius: 11px;
    padding: 0 5px;
    position:relative;
    left:-8px;
    top:-10px;
    opacity: 2;
}

.cart-product-name-description{
    display: grid;
    font-size: 0.7em;
    font-weight: 700;
}

.cart-product-description{
    font-size: small;
    color: $verydark-grey;
}

.number{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding-left: 0.6em;
    padding-right: 0.6em;
}

.plus, .minus{
    height: 1.5em;
    width: 1em;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    border: 1.5px solid $yellow;
    font-weight: 650;
    cursor: pointer;
    margin: auto;
    text-align: center;
}

.cart-button{
    padding-top: 10%;
}

.cart-price{
    padding-top: 25%;
}
