* {
  color: #000000;
  font-family: "Manrope", sans-serif;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.card {
  padding: 0.3em;
  display: grid;
  max-height: 25em;
  min-height: 21em;
  grid-template-rows: 70% 30%;
  border-radius: 1em;
  box-shadow: 0.5px 3px 15px #d1d1d1;
  cursor: pointer;
  background-color: #FFFFFF;
}
.card > img {
  border-radius: inherit;
}
.card > .content {
  display: grid;
  background: #FFFFFF;
  text-align: center;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 99%;
}

.title-container {
  padding-top: 1.2em;
  display: grid;
  grid-template-columns: 65% 18%;
}

.title {
  font-weight: 300;
  padding-left: 1em;
  text-align: left;
  font-size: large;
}

.price {
  font-weight: 300;
  font-size: large;
  text-align: right;
  color: #8A8989;
}

.description {
  color: #8A8989;
  padding-left: 1em;
  text-align: left;
  font-size: small;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sticky-labels {
  position: absolute;
  height: 2em;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: -1.25em;
  margin-left: 0.5em;
  display: grid;
  grid-template-columns: 5em 5em;
  grid-gap: 0.25em;
}

.label-ceai-negru {
  content: url("/assets/images/categorypage/ceai-negru-label.png");
  -o-object-fit: cover;
     object-fit: cover;
  width: 90%;
}

.label-ceai-verde {
  content: url("/assets/images/categorypage/ceai-verde-label.png");
  -o-object-fit: cover;
     object-fit: cover;
  width: 90%;
}

ul > li, p {
  color: #FFFFFF;
}

li > i {
  color: #FFFFFF;
}

.logo-footer {
  background-image: url("/assets/images/home/logo-456x174.png");
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: 50%;
}

.footer {
  background-image: url("/assets/images/footer-1600x680.png");
  background-size: cover;
  text-align: center;
}
.footer footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer nav {
  margin: 30px 0;
}
.footer nav ul {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin-top: 6%;
  justify-content: center;
}
.footer .social {
  width: 100%;
}
.footer .social ul {
  margin: 0 auto;
  width: 140px;
  display: flex;
  justify-content: space-between;
}

.cart-container {
  position: absolute;
  z-index: 1;
  display: none;
  margin-left: -8%;
  background: linear-gradient(to bottom right, #f1f5f8);
  height: -moz-fit-content;
  height: fit-content;
  background-color: #FFFFFF;
  border-radius: 10px;
  width: 20em;
}

.products-number {
  position: absolute;
  z-index: 1;
}

.cart-header {
  display: flex;
  margin: auto;
  width: 85%;
  justify-content: space-between;
  align-items: center;
}

.cart-heading {
  font-size: 14px;
  font-weight: 500;
}

.cart-items {
  display: grid;
  height: -moz-fit-content;
  height: fit-content;
}

.cart-item {
  display: grid;
  grid-template-columns: 20% 40% 10% 30%;
  padding: 0.4em;
}

.cart-img {
  width: 3.5em;
  height: 3.5em;
  border-radius: 8px;
  padding-left: 2%;
}

.horizontal-line {
  background-color: #f1f5f8;
  height: 0.2px;
  width: 100%;
}

.first-line, .last-line {
  background-color: #d1d1d1;
}

span {
  cursor: pointer;
}

.minus, .plus {
  height: 2em;
  width: 2em;
  background: #f1f5f8;
  border-radius: 8px;
  border: 4px solid #f1f5f8;
  text-align: center;
}

input {
  height: 17px;
  width: 15px;
  font-size: 15px;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  vertical-align: middle;
}

.cart-total {
  display: grid;
  grid-template-columns: 50% 50%;
}

.cart-total > .heading {
  text-align: center;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-margin-before: 0.5em;
          margin-block-start: 0.5em;
  -webkit-margin-after: 0.5em;
          margin-block-end: 0.5em;
}

.checkout-link:hover {
  color: #F1C617;
}

.checkout-link {
  text-decoration: none;
  color: #000000;
}

.fa-angle-right {
  color: #F1C617;
  padding-left: 0.5em;
}

.badge:after {
  content: attr(value);
  font-size: 12px;
  color: #000000;
  background: #F1C617;
  border-radius: 50%;
  padding: 0 5px;
  position: relative;
  left: -8px;
  top: -10px;
  opacity: 1;
}

.cart-wrapper:hover .cart-container {
  display: block;
}

.navbar-container {
  display: grid;
  grid-template-columns: 3% 17% 10% 10% 10% 10% 20% 3% 3%;
  height: 8em;
}

.navbar-container > a, .navbar-container > .cart-wrapper {
  margin-top: 4em;
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.25em;
}

a > i {
  margin-top: 0.5em;
  color: #FFFFFF;
}

.logo-area {
  display: grid;
  margin-right: 15%;
  margin-top: 10%;
  background-size: 80%;
  background-repeat: no-repeat;
  background-image: url("/assets/images/home/logo-456x174.png");
  cursor: pointer;
}

* {
  color: #000000;
  font-family: "Manrope", sans-serif;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.left-side {
  background-color: none;
}

.product-page-container {
  display: grid;
  grid-template-columns: 60% 40%;
  animation: 1s slide-left;
  height: 100%;
}

@keyframes slide-left {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.pop-up-content {
  display: grid;
  border-bottom-left-radius: 32px;
  border-top-left-radius: 32px;
  background-color: #f1f5f8;
  grid-template-rows: 45% 20% 20% 10%;
}
.pop-up-content > div {
  padding-left: 2em;
  padding-top: 2em;
}

.first-row {
  display: grid;
  grid-template-columns: 15em 20em;
  height: 18em;
}

.product-image {
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  border-radius: 16px;
}
.product-image > img {
  width: 15em;
  height: 15em;
  border-radius: inherit;
  display: block;
  margin: auto;
}

.title-description {
  font-size: large;
  font-weight: 600;
}

.product-description {
  display: grid;
  grid-template-rows: 20% 65% 15%;
  padding-top: 24px;
  font-size: large;
}

.paragraph {
  color: #626262;
  font-size: medium;
}

.initial-price-container {
  display: grid;
  grid-template-columns: 80% 10% 10%;
}

.second-row {
  display: grid;
  grid-template-rows: 50% 50%;
  height: 8em;
}

.second-row > div {
  font-size: medium;
}

.second-row-title {
  display: grid;
  grid-template-columns: 86% 14%;
}

.second-row-title {
  font-weight: 600;
}

.focus {
  background: #F1C617;
}

.third-row {
  height: 8em;
  display: grid;
  grid-template-rows: 40% 60%;
}

.extra-topping-container {
  display: grid;
  grid-template-columns: 86% 14%;
}

.extra-topping-container > div {
  font-weight: 600;
}

.topping-options {
  padding-top: 1.3em;
}

.fourth-row {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 4em;
  border-bottom-left-radius: 32px;
}

.btn-option {
  font-size: medium;
  height: 1.6em;
  border: 1px solid #F1C617;
  border-radius: 8px;
  color: #626262;
}

.btn-option:hover {
  background-color: #F1C617;
}

.plus-minus-container {
  display: grid;
  grid-template-columns: 20% 15% 20%;
  text-align: center;
  padding-top: 0.7em;
}

.products-quantity {
  text-align: center;
  font-weight: 700;
  font-size: xx-large;
}

.btn-quantity {
  height: 3em;
  width: 3em;
  box-sizing: border-box;
  border-radius: 50px;
  background: #FFFFFF;
  border: 1.5px solid #F1C617;
  font-weight: 650;
}

.btn-quantity:hover {
  background-color: #F1C617;
}

.add-to-cart-btn {
  width: 250px;
  height: 54px;
  border-radius: 46px;
  border-color: #F1C617;
  background-color: #F1C617;
}

.add-to-cart-btn:hover {
  font-weight: 700;
}

.product-description {
  padding-left: 2em;
}

.grid-container {
  display: grid;
  grid-template-areas: "navbar-area" "carousel-area" "categories-area" "footer-area";
}

.navbar-area {
  background-image: linear-gradient(rgba(13, 12, 12, 0.495), rgba(80, 80, 80, 0.591)), url("/assets/images/menu-banner-1600x680.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 30em;
}

.wrap-container {
  display: grid;
  background-color: #f1f5f8;
  padding-bottom: 10em;
}

.category-container {
  justify-content: center;
  display: grid;
  grid-template-columns: 15em 15em 15em;
  height: 15em;
  padding-top: 7em;
  grid-gap: 5%;
}
.category-container div {
  margin: 0 auto;
  position: relative;
  background-size: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 80%;
  border-radius: 15px;
  cursor: pointer;
}
.category-container h5 {
  padding-top: 2em;
}

.category-button > div {
  margin: auto;
  margin-top: 10%;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 10em;
  width: 70%;
}

.category-button {
  text-align: center;
}

.category-button > h5 {
  justify-content: center;
  margin-top: 0;
}

.tea-icon {
  background-image: url(/assets/images/categorypage/bubble-tea.png);
}

.coffee-icon {
  background-image: url(/assets/images/categorypage/coffee.png);
}

.waffle-icon {
  background-image: url(/assets/images/categorypage/wafflEX.png);
  margin-top: 0;
}

.subcategory-container {
  display: grid;
  grid-template-rows: 70%;
  justify-content: center;
  min-height: 8em;
  padding-top: 2em;
}

select {
  border-radius: 2em;
  margin-top: 7%;
  width: 300px;
  padding: 5px;
  border: none;
  background-color: #FFFFFF;
}

.category-title {
  display: grid;
  grid-template-columns: 15.8% 15.8% 15.8% 15.8%;
  font-weight: 400;
  font-size: x-large;
  justify-content: center;
  grid-gap: 3em;
  margin-bottom: 2em;
}

.fruit-tea-products, .milk-tea-products, .cheesecake-products, .coffee-products, .special-coffee-products, .waffle-products {
  display: grid;
  grid-template-columns: 17% 17% 17% 17%;
  grid-gap: 3em;
  justify-content: center;
}

.products-container {
  margin-top: 4%;
  display: grid;
  grid-gap: 7em;
  height: -moz-fit-content;
  height: fit-content;
}

.product-detail-modal {
  /* Stay in place */
  z-index: 1; /* Sit on top */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  position: fixed;
  right: 0;
  top: 0;
  display: none;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  animation: 0.5s fade-in;
}/*# sourceMappingURL=products.css.map */