@import '../variables.scss';
@import '../shared/card/card.scss';
@import '../shared/footer/footer.scss';
@import '../shared/navbar/navbar.scss';
@import '../shared/product-detail/product-detail.scss';

.grid-container{
     display: grid;
     grid-template-areas: 
     'navbar-area'
     'carousel-area'
     'categories-area'
     'footer-area';
 }

.navbar-area{
     background-image: linear-gradient(rgba(13, 12, 12, 0.495), rgba(80, 80, 80, 0.591)), url("/assets/images/menu-banner-1600x680.png");
     background-size: cover;
     background-repeat: no-repeat;
     height: 30em;
 }

.wrap-container{ 
   display: grid;
   background-color: $light-grey;
   padding-bottom: 10em;
}

.category-container{
     justify-content: center;
     display: grid;
     grid-template-columns: 15em 15em 15em;
     height: 15em;
     padding-top: 7em;
     grid-gap: 5%;

     div  {
          margin: 0 auto;
          position: relative;
          background-size: 100%;
          background-position:50%;
          background-repeat: no-repeat;
          width: 80%;
          border-radius: 15px;
          cursor: pointer;
     }
     
     h5{
          padding-top: 2em;
     }
}

 .category-button > div{
     margin:  auto;
     margin-top: 10%;
     background-size: 100%;
     background-repeat: no-repeat;
     height: 10em;
     width:70%;
 }

 .category-button{
     text-align: center;
 }

 .category-button > h5 {
     justify-content: center;
     margin-top: 0;
 }


.tea-icon {
     background-image: url(/assets/images/categorypage/bubble-tea.png); 
}

.coffee-icon{
     background-image: url(/assets/images/categorypage/coffee.png);
}

.waffle-icon{
     background-image: url(/assets/images/categorypage/wafflEX.png);
     margin-top: 0;
}


.subcategory-container{
     display: grid;
     grid-template-rows: 70%;
     justify-content: center;
     min-height: 8em;
     padding-top: 2em;
}

select {
     border-radius: 2em;
     margin-top: 7%;
     width: 300px;
     padding: 5px;
     border: none;
     background-color: $white;
}

.category-title{
     display: grid;
     grid-template-columns: 15.8% 15.8% 15.8% 15.8%;
     font-weight: 400;
     font-size: x-large;
     justify-content: center;
     grid-gap: 3em;
     margin-bottom: 2em;
}

.fruit-tea-products, .milk-tea-products, .cheesecake-products, .coffee-products, .special-coffee-products, .waffle-products {
     display: grid;
     grid-template-columns: 17% 17% 17% 17%;
     grid-gap: 3em;
     justify-content: center;
}

.products-container{
     margin-top: 4%;
     display: grid;
     grid-gap: 7em;
     height: fit-content;
}

.product-detail-modal{
     /* Stay in place */
     z-index: 1; /* Sit on top */
     width: 100%; /* Full width */
     height: 100%; /* Full height */
     overflow: auto; /* Enable scroll if needed */
     position: fixed;
     right: 0;  
     top:0;
     display: none;
     background-color: rgb(0,0,0); /* Fallback color */
     background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
     animation: .5s fade-in;
}